In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
inventario=pd.read_csv('data/supermarket_sales - Sheet1.csv')

In [3]:
inventario.sample(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
496,556-97-7101,C,Naypyitaw,Normal,Female,Electronic accessories,63.22,2,6.322,132.762,1/1/2019,15:51,Cash,126.44,4.761905,6.322,8.5
235,645-78-8093,A,Yangon,Normal,Female,Sports and travel,93.14,2,9.314,195.594,1/20/2019,18:09,Ewallet,186.28,4.761905,9.314,4.1
858,234-36-2483,B,Mandalay,Normal,Male,Health and beauty,57.59,6,17.277,362.817,2/15/2019,13:51,Cash,345.54,4.761905,17.277,5.1

### 1. Calcular el Total de Ventas por Producto

In [4]:
inventario['total_ventas'] = inventario.apply(lambda row: row['Quantity'] * row['Unit price'], axis=1)

In [5]:
inventario.sample(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,total_ventas
716,857-16-3520,A,Yangon,Member,Female,Fashion accessories,71.46,7,25.011,525.231,3/28/2019,16:06,Ewallet,500.22,4.761905,25.011,4.5,500.22
64,853-23-2453,B,Mandalay,Member,Male,Health and beauty,75.74,4,15.148,318.108,2/14/2019,14:35,Cash,302.96,4.761905,15.148,7.6,302.96
440,450-28-2866,C,Naypyitaw,Member,Male,Food and beverages,17.44,5,4.360,91.560,1/15/2019,19:25,Cash,87.20,4.761905,4.360,8.1,87.20

### 2. Aplicar Descuento a los Precios

In [6]:
inventario['Descuentos'] = inventario['Unit price'].map(lambda precio: precio * 0.9)

In [7]:
inventario.sample(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,total_ventas,Descuentos
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,522.83,67.221

### 3. Calcular el Precio Promedio por Producto

In [8]:
precio_promedio_por_producto = inventario.groupby('Product line')['Unit price'].mean()
inventario['precio_promedio'] = inventario['Product line'].map(precio_promedio_por_producto)

In [9]:
inventario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
 17  total_ventas             1000 non-null   float64
 18  Descuentos               1000 non-null   float64
 19  precio_promedio          1000 non-null   float64
dtypes: float64(10), int64(1), object(9)
memory usage: 156.4+ KB

In [10]:
precio_promedio_por_producto.sample()

Product line
Electronic accessories    53.551588
Name: Unit price, dtype: float64

In [11]:
inventario['Date']=pd.to_datetime(inventario['Date'],errors='coerce')

In [12]:
def textoatiempo(cadena):
    return datetime.strptime(cadena,"%H:%M").time()
inventario['Time']=inventario['Time'].map(textoatiempo)

In [13]:
inventario['Time'].loc[3]

datetime.time(20, 33)